:root {
    /* Primary Colors */
    --light-red: 0, 100%, 67%;
    --orangey-yellow: 39, 100%, 56%;
    --green-teal: 166, 100%, 37%;
    --cobalt-blue: 234, 85%, 45%;

    /* Gradients */
    --light-slate-blue: 252, 100%, 67%;
    --light-royal-blue: 241, 81%, 54%;
    --violet-blue: 256, 72%, 46%;
    --persian-blue: 241, 72%, 46%;

    /* Neutral Colors */
    --white: 0, 0%, 100%;
    --pale-blue: 221, 100%, 96%;
    --light-lavender: 241, 100%, 89%;
    --dark-gray-blue: 224, 30%, 27%;

    /* Font */
    --base: 16px;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Hanken Grotesk';
    background-color: hsl(var(--white));
    color: hsl(var(--dark-gray-blue));
    font-size: hsl(var(--base));
}

.wrapper {
    margin: auto;
}

.summary {
    width: 100%;
    background-color: hsl(var(--pale-blue), 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-visual {
    background: linear-gradient(to bottom,
            hsl(var(--light-slate-blue)),
            hsl(var(--light-royal-blue)));
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    color: white;
    border-radius: 0 0 2rem 2rem;
    width: 100%;
}

.summary-visual h4 {
    color: hsl(var(--pale-blue), 0.8);
}

.summary-visual .score {
    background: linear-gradient(to bottom,
            hsl(var(--cobalt-blue)) 1%,
            hsl(var(--light-royal-blue)) 99%);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.score span {
    display: block;
}

.score span:first-child {
    font-size: 2.5rem;
    font-weight: 700;
}

.score span:last-child {
    font-size: 0.9rem;
    color: hsl(var(--pale-blue), 0.8);
}

.summary-visual p {
    color: hsl(var(--pale-blue), 0.8);
    text-align: center;
    max-width: 200px;
    font-size: 0.7rem;
}

.summary-details {
    background-color: hsl(var(--pale-blue), 0.5);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-details h4 {
    color: hsl(var(--dark-gray-blue), 0.8);
    margin-bottom: 1rem;
}

.summary-details .stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stat-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.54rem 1rem;
    border-radius: 0.5rem;
}

.stat-box:nth-child(1),
.stat-box:nth-child(2) {
    background-color: hsl(var(--light-red), 0.1);
}

.stat-box:nth-child(3),
.stat-box:nth-child(4) {
    background-color: hsl(var(--orangey-yellow), 0.1);
}

.stat-box span {
    margin-left: auto;
    font-size: 0.8rem;
}

.summary-details .continue-button {
    background-color: hsl(var(--dark-gray-blue));
    color: hsl(var(--white));
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
}

@media (min-width: 600px) {
    .wrapper {
        margin: 200px auto;
        display: flex;
        justify-content: center;
    }

    .summary {
        flex-direction: row;
        border-radius: 2rem;
    }

    .summary-visual {
        height: 100%;
        width: 50%;
        border-radius: 2rem;
    }

    .summary-details {
        width: 50%;
        border-radius: 2rem;
    }
}

@media (min-width: 992px) {
    .summary {
        width: 700px;
    }

    .wrapper {
        margin: 100px auto;
    }

    .summary-visual p {
        font-size: 0.8rem;
    }
}